*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

img {
  vertical-align: middle;
  border-style: none;
}
.h1,
h1 {
  font-size: 2.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.button {
  width: 200px;
  background-color: #ff2950;
  border-radius: 8px;
  padding: 10px 18px;
  color: #fff;
  border-color: #ff2950;
  transition: 0.2s;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}
button,
input {
  overflow: visible;
}

.body-content {
  height: 100vh;
  background-image: url(files/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.table-wrapper {
  max-width: 600px;
  width: 90%;
  margin: auto;
  padding-top: 140px;
}

.table-content {
  box-shadow: 1px 5px 10px 0px rgba(128, 128, 128, 1);
  border-radius: 24px;
  background-color: #fff;
}

/* table-header */

.table-header {
  background-color: #41d5c6;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.table-header h1 {
  margin-bottom: 0;
}

/* table-main */

.table-main {
  padding: 25px 10px;
}
.table-box {
  display: inline-block;
  padding: 20px 10px 20px 30px;
}

.table-main-content-wrapper {
  display: inline-block;
  float: right;
  padding: 10px 30px;
  min-height: 250px;
}
.table-main-content {
  margin: auto;
  text-align: center;
  max-height: 100%;
  width: 300px;
}
.table-main-content p {
  color: #949494;
  font-size: 12px;
}

.main2,
.main3,
.main4,
.main5 {
  display: none;
}

/* main1  */

.tracking-number,
.date {
  padding: 10px 36px;
  background-color: #f2f2f2;
  color: #ff2950;
  margin-right: 2px;
}

/* main 2 */

.spinner {
  width: 80px;
  height: 80px;
  margin: 40px auto 40px;
  background-color: #555;
  border-radius: 100%;
  /* -webkit-animation: sk-scaleout 1.5s infinite ease-in-out; */
  animation: sk-scaleout 1.5s infinite ease-in-out;
  /* -webkit-transition: all .3s ease 0s; */
  /* -o-transition: all .3s ease 0s; */
  transition: all 0.3s ease 0s;
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.loading-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 11px;
}

.loading-list li {
  margin-bottom: 15px;
  /* -webkit-animation: blink 3s ease infinite; */
  animation: blink 3s ease infinite;
  opacity: 0;
  /* -webkit-transition: all .3s ease 0s; */
  /* -o-transition: all .3s ease 0s; */
  transition: all 0.3s ease 0s;
}

.loading-list li:nth-child(2) {
  /* -webkit-animation-delay: .4s; */
  animation-delay: 0.4s;
}

.loading-list li:nth-child(3) {
  /* -webkit-animation-delay: .8s; */
  animation-delay: 0.8s;
}

/* main 3 */

.question__answers input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
.question__answers label {
  position: relative;
  padding: 15px;
  padding-left: 46px;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.question__answers label::before {
  width: 16px;
  height: 16px;
  background-color: #d8d8d8;
}

.question__answers label::before,
.question__answers label::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

label {
  cursor: default;
}

/* table-footer */

.table-footer {
  background-image: url(wave-11.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60px;
  border-radius: 24px;
  margin: 40px -2.9px 0px -2.9px;
  overflow: hidden;
}
